<section class="section-main bg padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="card">
                    <ul class="menu-category">
                        <partial name="_SideBar1" />
                        <partial name="_SideBar2" />
                        <partial name="_SideBar3" />
                        <partial name="_SideBar4" />
                        <partial name="_SideBar5" />
                        <partial name="_SideBar6" />
                        <partial name="_SideBar7" />
                    </ul>
                </nav>
            </aside> <!-- col.// -->
            <partial name="_SideBarSlider" />
            <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container //  -->
</section>